<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="POInventoryEntities" connectionString="metadata=res://*/InvetoryDB.csdl|res://*/InvetoryDB.ssdl|res://*/InvetoryDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=POInventory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>