<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="POInventoryEntities" connectionString="metadata=res://*/InvetoryDB.csdl|res://*/InvetoryDB.ssdl|res://*/InvetoryDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=POInventory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="POInventoryEntities" connectionString="metadata=res://*/InvetoryDB.csdl|res://*/InvetoryDB.ssdl|res://*/InvetoryDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.freeasphost.net;initial catalog=jcbacud_POInventory;persist security info=True;user id=jcbacud;password=Appdev_mis1a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>